.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--core-space-spacing-08);
    margin-top: 1rem;
  }
  
  @media (min-width: 600px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(3, 1fr); /* Ajuster le nombre de colonnes selon device */
    }
  }
  